* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

.cards {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 10px;
  padding: 0px; }
  .cards .cards_item {
    display: flex;
    padding: 16px; }

@media (min-width: 640px) {
  .cards_item {
    width: 50%; } }

@media (min-width: 896px) {
  .cards {
    width: 680px; }
  .cards_item {
    width: 100%; } }

.card {
  background: linear-gradient(to bottom left, #c05e5a 40%, #da8aa7 100%);
  border-radius: 5px;
  box-shadow: 6px 8px 2px 1px rgba(59, 21, 21, 0.336);
  display: flex;
  flex-direction: column;
  overflow: hidden; }
  .card .card_content {
    padding: 16px;
    background: linear-gradient(to bottom left, #c05e5a 40%, #dda684 100%); }
  .card .card_title {
    font-family: "Libre Baskerville", serif;
    color: #000;
    font-size: 28pt;
    letter-spacing: 2px;
    margin: 0px; }
  .card .card_text {
    color: #fff;
    font-size: 12pt;
    line-height: 1.5;
    margin-bottom: 20px;
    text-shadow: 1px 1px 2px #000;
    font-weight: 400; }

@media only screen and (max-width: 768px) {
  .card_content {
    padding: 16px;
    background: linear-gradient(to bottom left, #c25f5b 40%, #da8aa7 100%); } }

.text-muted-mod {
  color: black;
  font-size: 12pt;
  text-shadow: 1px 1px 2px #000; }

.container-grid {
  display: grid;
  margin: 25px auto;
  grid-template-areas: "redes logo petfriendly" "navbar navbar navbar" "carrousel carrousel carrousel" "widget-1 main-content widget-2" "widget-1 main-content widget-2" "footer footer footer";
  grid-template-rows: auto auto auto;
  grid-template-columns: 20% auto 20%;
  gap: 20px;
  padding: 5px;
  justify-content: center; }
  .container-grid .redes {
    grid-area: redes;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Libre Baskerville", serif;
    color: #594c7f;
    font-size: 18px;
    letter-spacing: 3pt; }
  .container-grid .navbar {
    max-height: 150px;
    grid-area: navbar;
    text-align: center;
    display: flex;
    align-items: initial;
    justify-content: center;
    font-family: "Libre Baskerville", serif;
    text-transform: uppercase;
    letter-spacing: 5pt; }
  .container-grid .widget-1 {
    grid-area: widget-1;
    font-family: "Roboto", sans-serif;
    font-size: 12px;
    letter-spacing: 2pt;
    word-spacing: 0.3pt;
    line-height: 1.4;
    padding: 5px;
    padding: 25px; }
  .container-grid .widget-2 {
    grid-area: widget-2;
    font-family: "Roboto", sans-serif;
    font-size: 12px;
    letter-spacing: 2pt;
    word-spacing: 0.3pt;
    line-height: 1.4;
    padding: 25px; }
  .container-grid .footer {
    grid-area: footer;
    background-color: #ffffff4f;
    text-align: center;
    justify-content: center;
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    font-size: 18px;
    letter-spacing: 2pt;
    line-height: 1.2; }
  .container-grid ul {
    margin: 0;
    padding: 10px;
    list-style: none;
    padding-right: 10px; }
  .container-grid li {
    display: inline-block;
    line-height: 25px;
    font-size: 18px;
    font-style: italic;
    font-family: "Roboto", sans-serif; }
  .container-grid a {
    display: block;
    padding: 0px;
    text-decoration: none; }
  .container-grid a:hover {
    background: #d3809e; }

@media only screen and (max-width: 768px) {
  .container-grid {
    display: grid;
    grid-template-areas: "logo logo logo" "carrousel carrousel carrousel" "navbar navbar navbar"  "main-content main-content main-content" "widget-1 widget-1 widget-1" "widget-2 widget-2 widget-2" "petfriendly petfriendly petfriendly" "footer footer footer"; }
    .container-grid .navbar {
      text-align: inherit; }
    .container-grid ul {
      margin: 20px;
      padding: 0px;
      list-style: none;
      padding-right: 10px; }
    .container-grid li {
      display: inline-block;
      line-height: 20px;
      text-align: center;
      font-size: 15px;
      font-style: italic;
      font-family: "Libre Baskerville", serif;
      text-transform: uppercase; }
    .container-grid a {
      display: block;
      padding: 0px;
      text-decoration: none; }
    .container-grid a:hover {
      background: #eea28f; }
    .container-grid img {
      max-width: 100%;
      height: auto; }
    .container-grid .widget-1
.widget-2 {
      align-content: space-between; } }

body {
  background-image: linear-gradient(#fff, #dda684);
  background-repeat: no-repeat;
  overflow-x: hidden; }

.container-grid .logo {
  grid-area: logo;
  display: flex;
  align-items: center;
  justify-content: center; }

.container-grid .petfriendly {
  grid-area: petfriendly;
  text-align: center;
  align-content: center;
  align-items: center;
  justify-content: center;
  font-family: "Libre Baskerville", serif;
  color: #cc706d;
  font-size: 18px;
  letter-spacing: 3pt;
  padding: 45px; }

.container-grid .carrousel {
  grid-area: carrousel;
  box-shadow: #81305641 5px 5px 10px; }

.container-grid .main-content {
  grid-area: main-content;
  background: #ffffff34;
  box-shadow: #81305641 1px 1px 5px;
  border-radius: 25px;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  letter-spacing: 2pt;
  word-spacing: 0.3pt;
  line-height: 1.4;
  padding: 45px; }

.page-overflow.refurbished {
  padding-top: 15px;
  padding-bottom: 30px; }

.refurbished .post-l,
.refurbished .post-r {
  padding: 30px;
  border: 10px solid #fff; }

.refurbished .post-l {
  background: #a0633f; }

.refurbished .post-r {
  background: #af5139; }

.refurbished img {
  display: inline-block;
  width: 100%;
  margin: 0 10px 0 0;
  border: 5px solid #fff; }

.refurbished h1 {
  font-size: 28px;
  margin: 0 0 30px;
  color: #fff; }

.refurbished p {
  font-size: 16px;
  color: #fff; }

.barraHeader {
  display: block;
  height: 6px; }

.coloresHeader {
  background: #a0423f -webkit-gradient(linear, left top, right top, from(#dda684), color-stop(#772712), color-stop(#fd8d32), color-stop(#dda684), to(#d3809e));
  background: #a0423f -webkit-linear-gradient(left, #d3809e, #772712, #fd8d32, #dda684, #d3809e);
  background: #a0423f linear-gradient(to right, #d3809e, #772712, #fd8d32, #dda684, #d3809e);
  background-size: 500%;
  -webkit-animation: 4s linear infinite LoadingBarProgress,.8s ease-out LoadingBarEnter;
  animation: 4s linear infinite LoadingBarProgress,.8s ease-out LoadingBarEnter;
  -webkit-transform-origin: left;
  transform-origin: left;
  width: 100%; }

@-webkit-keyframes LoadingBarProgress {
  0% {
    background-position: 0% 0; }
  to {
    background-position: 125% 0; } }

@keyframes LoadingBarProgress {
  0% {
    background-position: 0% 0; }
  to {
    background-position: 125% 0; } }

@-webkit-keyframes LoadingBarEnter {
  0% {
    -webkit-transform: scaleX(0);
    transform: scaleX(0); }
  to {
    -webkit-transform: scaleX(1);
    transform: scaleX(1); } }

@keyframes LoadingBarEnter {
  0% {
    -webkit-transform: scaleX(0);
    transform: scaleX(0); }
  to {
    -webkit-transform: scaleX(1);
    transform: scaleX(1); } }

._it4vx {
  height: 3px;
  background: #27c4f5 -webkit-gradient(linear, left top, right top, from(#27c4f5), color-stop(#a307ba), color-stop(#fd8d32), color-stop(#70c050), to(#27c4f5));
  background: #27c4f5 -webkit-linear-gradient(left, #27c4f5, #a307ba, #fd8d32, #70c050, #27c4f5);
  background: #27c4f5 linear-gradient(to right, #27c4f5, #a307ba, #fd8d32, #70c050, #27c4f5);
  background-size: 500%;
  -webkit-animation: 4s linear infinite LoadingBarProgress,.8s ease-out LoadingBarEnter;
  animation: 4s linear infinite LoadingBarProgress,.8s ease-out LoadingBarEnter;
  -webkit-transform-origin: left;
  transform-origin: left;
  width: 100%; }

h1 {
  color: #a0423f;
  font-family: "Libre Baskerville", serif;
  font-size: 28pt; }

h2 {
  color: #000;
  font-family: "Libre Baskerville", serif;
  text-align: center;
  font-size: 16pt; }

h3 {
  color: #dda684;
  font-family: "Libre Baskerville", serif;
  font-size: 16pt;
  letter-spacing: 1.5pt; }

h4 {
  font-family: "Libre Baskerville", serif;
  color: #a0423f;
  letter-spacing: 1.5pt;
  text-align: start;
  font-size: 16pt; }

h5 {
  color: #000;
  text-align: center;
  font-family: "Roboto", sans-serif; }

h6 {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  letter-spacing: 3pt;
  text-align: start;
  font-size: 22px; }

@media only screen and (max-width: 768px) {
  body {
    background-image: linear-gradient(#fff, #d3809e);
    background-repeat: no-repeat; }
    body p {
      font-size: 14px; } }

@media only screen and (min-width: 992px) {
  p {
    font-size: 20px; } }

.heart {
  position: relative;
  width: 35px;
  height: 35px;
  background-color: #d3809e;
  transform: rotate(45deg) scale(1);
  border-radius: 0 0 12px 0;
  margin: 20px;
  animation: pumpHeart 1500ms ease-in-out infinite; }

.heart::before,
.heart::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #d3809e; }

.heart::before {
  transform: translateY(-50%); }

.heart::after {
  transform: translateX(-50%); }

@keyframes pumpHeart {
  0% {
    transform: rotate(45deg) scale(1); }
  50% {
    transform: rotate(45deg) scale(1); }
  60% {
    transform: rotate(45deg) scale(1.2); }
  80% {
    transform: rotate(45deg) scale(0.95); }
  90% {
    transform: rotate(45deg) scale(1); }
  100% {
    transform: rotate(45deg) scale(1); } }
