.container-grid {
    display: grid;
    margin: 25px auto;
    grid-template-areas:
        "redes logo petfriendly"
        "navbar navbar navbar"
        "carrousel carrousel carrousel"
        "widget-1 main-content widget-2"
        "widget-1 main-content widget-2"
        "footer footer footer";
    grid-template-rows: auto auto auto;
    grid-template-columns: 20% auto 20%;
    gap: 20px;
    padding: 5px;
    justify-content: center;
    .redes {
        grid-area: redes;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: $typo-titles;
        color: #594c7f;
        font-size: 18px;
        letter-spacing: 3pt;
    }
    .navbar {
        max-height: 150px;
        grid-area: navbar;
        text-align: center;
        display: flex;
        align-items: initial;
        justify-content: center;
        font-family: $typo-titles;
        text-transform: uppercase;
        letter-spacing: 5pt;
    }
    .widget-1 {
        grid-area: widget-1;
        font-family: $typo-general;
        font-size: 12px;
        letter-spacing: 2pt;
        word-spacing: 0.3pt;
        line-height: 1.4;
        padding: 5px;
        padding: 25px;
    }
    .widget-2 {
        grid-area: widget-2;
        font-family: $typo-general;
        font-size: 12px;
        letter-spacing: 2pt;
        word-spacing: 0.3pt;
        line-height: 1.4;
        padding: 25px;
    }
    .footer {
        grid-area: footer;
        background-color: #ffffff4f;
        text-align: center;
        justify-content: center;
        font-family: $typo-general;
        text-transform: uppercase;
        font-size: 18px;
        letter-spacing: 2pt;
        line-height: 1.2;
    }
        ul {
            margin: 0;
            padding: 10px;
            list-style: none;
            padding-right: 10px;
        }
            li {
                display: inline-block;
                line-height: 25px;
                font-size: 18px;  
                font-style: italic;
                font-family: $typo-general;
                }
                a {
                    display: block;
                    padding: 0px;
                    text-decoration: none;
                }
                    a:hover {
                        background: $tertiary_color;
                    }
    }

$vista: mobile;
	@if $vista == mobile {
		@media only screen and (max-width:768px) {
.container-grid {
        display: grid;
        grid-template-areas:    "logo logo logo"
                                "carrousel carrousel carrousel"
                                "navbar navbar navbar" 
                                "main-content main-content main-content"
                                "widget-1 widget-1 widget-1"
                                "widget-2 widget-2 widget-2"
                                "petfriendly petfriendly petfriendly"
                                "footer footer footer";           
    .navbar {
        text-align: inherit;
        }
         ul {
            margin: 20px;
            padding: 0px;
            list-style: none;
            padding-right: 10px;
        }
            li {
                display: inline-block;
                line-height: 20px;
                text-align: center;
                font-size: 15px;  
                font-style: italic;
                font-family: $typo-titles;
                text-transform: uppercase;
            }
                a {
                    display: block;
                    padding: 0px;
                    text-decoration: none;
                }
        
                a:hover {
                background: #eea28f;
                }
    img {
        max-width: 100%;
        height: auto;
        }
    
    .widget-1 
    .widget-2 {
        align-content:space-between;
    }
    }
    }
}