body {
    background-image: linear-gradient( $white, $primary_color);
    background-repeat: no-repeat;
    overflow-x: hidden;
}   

.container-grid {
    .logo {
        grid-area: logo;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .petfriendly {
        grid-area: petfriendly;
        text-align: center;
        align-content: center;
        align-items: center;
        justify-content: center;
        font-family: 'EB Garamond', serif;
        text-transform: uppercase;
        color: #cc706d;
        font-size: 18px;
        letter-spacing: 3pt;
        padding: 45px;
    }
    .carrousel {
        grid-area: carrousel;
        box-shadow: #81305641 5px 5px 10px;
    }
    .main-content {
        grid-area: main-content;
        background: #ffffff34;
        box-shadow: #81305641 1px 1px 5px;
        border-radius: 25px;
        text-align: center;
        font-family: "trebuchet MS", sans-serif;
        font-size: 12px;
        letter-spacing: 2pt;
        word-spacing: 0.3pt;
        line-height: 1.4;
        padding: 45px;
    }
}

.page-overflow.refurbished{
    padding-top: 15px;
    padding-bottom: 30px;
  }
  .refurbished .post-l,
  .refurbished .post-r{
    padding: 30px;
    border: 10px solid #fff;
  }
  
  .refurbished .post-l{
    background:#a0423f
  }
  .refurbished .post-r{
    background:#772712;
  }
  .refurbished img{
    display:inline-block;
    width: 100%;
    margin:0 10px 0 0;
    border: 5px solid #fff;

  }
  .refurbished h1{
    font-size:28px;
    margin:0 0 30px;
    color:#fff
  }
  .refurbished p{
    font-size:16px;
    color:#fff;
  }