
.cards {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 10px;
    padding: 20px;
    .cards_item {
      display: flex;
      padding: 16px;
      
    }
  }
  
  @media (min-width: 640px) {
    .cards_item {
      width: 50%;
    }
  }
  
  @media (min-width: 896px) {
    .cards {
    width: 680px;
    }
    .cards_item {
      width: 100%;
    }
  }
  
  .card {
    background: linear-gradient(to bottom left, #c05e5a 40%, #da8aa7 100%);;
    border-radius: 5px;
    box-shadow: 6px 8px 2px 1px rgba(59, 21, 21, 0.336);
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    .card_content {
      padding: 16px;
      background: linear-gradient(to bottom left, #c05e5a 40%, #dda684 100%);
    }
      .card_title {
        font-family: $typo-titles;
        color: $dark;
        font-size: $typo-big;
        letter-spacing: 2px;
        margin: 0px;
      }
        .card_text {
        color: $white;
        font-size: $typo-small;
        line-height: 1.5;
        margin-bottom: 20px;    
        text-shadow: 1px 1px 2px $dark;
        font-weight: 400;
        }  
  }
$vista: mobile;
.card_content {
    @if $vista == mobile {
        @media only screen and (max-width:768px) {
                padding: 16px;
                background: linear-gradient(to bottom left, #c25f5b 40%, #da8aa7 100%);
            }
    }
}

.text-muted-mod {
	color: black;
  font-size: $typo-small;
	text-shadow: 1px 1px 2px $dark;
  }