// primmary colors
$primary_color: #dda684;
$secondary_color: #a0423f;
$tertiary_color: #d3809e;
$quarter_color: #772712;

// Neutral colors
$dark: #000;
$dark-grey: #ffffff34;
$grey-blue: #594c7f;
$dark-shadow: #81305641;
$white: #fff;

// Filtro gris
$filtro_gris: grayscale(0.5);
