// Tipografia

$typo-general: 'Roboto', sans-serif;
$typo-titles: 'Libre Baskerville', serif;
$typo-alternative: 'Times New Roman', Times, serif;

// Tamaños
$typo-small: 12pt;
$typo-medium: 16pt;
$typo-big: 28pt;