// Tipografia

$typo-general: "trebuchet MS", sans-serif;
$typo-titles: 'EB Garamond', serif;
$typo-alternative: 'Times New Roman', Times, serif;

// Tamaños
$typo-small: 12pt;
$typo-medium: 20pt;
$typo-big: 28pt;